# Runs and logs
# workspace/
log/
logs/
runs/
nohup.out
pdpino-models/
.vscode/


# Python env
**/.ipynb_checkpoints/
**/__pycache__
**/*.egg-info
pyenv*

# Course project file
main.py

# CAV folder
cav/

# Requirements are not updated!
requirements*

# Others
medai/batch*.sh
medai/utils/*.sh
medai/notebooks/debug.ipynb
medai/notebooks/pamessina/
